In [2]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [16]:
#Importing KegAir Data
data_dir = os.getcwd()
os.listdir(data_dir)

data = pd.read_csv('data/kegAir.csv', index_col=None, parse_dates=[0], dayfirst=True)

data['DateTime'] = pd.to_datetime(data['DateTime'], errors='coerce', dayfirst=True)
data.dropna(subset=['DateTime'], inplace=True)

data.set_index('DateTime', inplace=True)

In [17]:
data.shape

(324876, 6)

In [18]:
start_dt = pd.to_datetime('2024-05-29 15:30:00')
end_dt = pd.to_datetime('2024-06-05 10:12:00')

# data.loc['2024-05-29 15:29:00']
#Time range mask
mask = (data.index >= start_dt) & (data.index <= end_dt)
new_data = data.loc[mask]
new_data.shape

(324760, 6)

In [19]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 324760 entries, 2024-05-29 15:30:00 to 2024-06-05 10:12:00
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   temp_c     324760 non-null  float64
 1   humidity   324760 non-null  float64
 2   pressure   324760 non-null  float64
 3   pm1_0_cf   324760 non-null  int64
 4   pm2_5_cf   324760 non-null  int64
 5   pm10_0_cf  324760 non-null  int64
dtypes: float64(3), int64(3)
memory usage: 17.3 MB

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 324876 entries, 2024-05-29 15:29:00 to 2024-06-05 10:14:00
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   temp_c     324876 non-null  float64
 1   humidity   324876 non-null  float64
 2   pressure   324876 non-null  float64
 3   pm1_0_cf   324876 non-null  int64
 4   pm2_5_cf   324876 non-null  int64
 5   pm10_0_cf  324876 non-null  int64
dtypes: float64(3), int64(3)
memory usage: 17.4 MB

In [21]:
# resampling data to avearage it every 2min
resampled_data = data.resample('2T').mean()

new_resample = new_data.resample('2T').mean()

In [25]:
data

                     temp_c  humidity  pressure  pm1_0_cf  pm2_5_cf  pm10_0_cf
DateTime
2024-05-29 15:29:00   32.10     57.18  98208.18        16        20         20
2024-05-29 15:29:00   32.12     57.16  98208.36        17        20         20
2024-05-29 15:29:00   32.12     57.16  98208.71        17        20         20
2024-05-29 15:29:00   32.13     57.13  98208.88        14        17         17
2024-05-29 15:29:00   32.13     57.12  98209.09        15        18         18
...                     ...       ...       ...       ...       ...        ...
2024-06-05 10:14:00   32.05     50.99  98512.74        11        17         18
2024-06-05 10:14:00   32.06     50.93  98513.09        11        17         18
2024-06-05 10:14:00   32.06     50.88  98513.27        11        16         18
2024-06-05 10:14:00   32.06     50.92  98512.91        11        16         18
2024-06-05 10:14:00   32.05     50.93  98512.91        11        16         18

[324876 rows x 6 columns]

In [22]:
resampled_data.shape

print(f"Original Shape: {data.shape}")
print(f"Sampeled Shape: {resampled_data.shape}")

Original Shape: (324876, 6)
Sampeled Shape: (37212626, 6)

In [23]:
# New Resample with datetime restrictions

print(f"Original Shape: {new_data.shape}")
print(f"Sampeled Shape: {new_resample.shape}")

Original Shape: (324760, 6)
Sampeled Shape: (4882, 6)

In [24]:
new_resample.dropna(axis= 0, inplace=True)
new_resample.info()
new_resample.tail(10)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4065 entries, 2024-05-29 15:30:00 to 2024-06-05 10:12:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   temp_c     4065 non-null   float64
 1   humidity   4065 non-null   float64
 2   pressure   4065 non-null   float64
 3   pm1_0_cf   4065 non-null   float64
 4   pm2_5_cf   4065 non-null   float64
 5   pm10_0_cf  4065 non-null   float64
dtypes: float64(6)
memory usage: 222.3 KB

,temp_c,humidity,pressure,pm1_0_cf,pm2_5_cf,pm10_0_cf
DateTime,,,,,,
2024-06-05 09:54:00,31.606875,52.670875,98526.466750,10.3250,14.4000,14.8750
2024-06-05 09:56:00,31.670875,52.246625,98529.302875,10.2750,14.2000,14.8125
2024-06-05 09:58:00,31.704375,51.314625,98529.778625,10.0250,14.5125,15.5250
2024-06-05 10:00:00,31.780250,51.284875,98529.522875,9.9625,14.6625,15.2750
2024-06-05 10:02:00,31.830875,48.822250,98528.076625,10.5125,14.6125,15.6625
2024-06-05 10:04:00,31.865500,50.396125,98522.547125,11.4875,16.6250,17.4375
2024-06-05 10:06:00,31.977250,48.733875,98516.259625,11.2250,16.4375,17.4625
2024-06-05 10:08:00,32.047500,50.698875,98513.201750,8.1125,13.0000,13.3750
2024-06-05 10:10:00,32.028500,49.273125,98512.569000,7.3625,10.7875,11.5000
2024-06-05 10:12:00,32.091000,50.520750,98512.780750,7.9500,10.8500,11.5750

In [ ]:
#Cleaning out extrapolated data with original datetime
start_datetime = pd.to_datetime('2024-05-29 15:29:00')
end_datetime = pd.to_datetime('2024-06-05 10:14:00')

# Step 1: Filter the original DataFrame to only include data within the datetime range
filtered_data = data[(data.index >= start_datetime) & (data.index <= end_datetime)]

resampled_data = filtered_data.resample('2T').mean()

#
resampled_data = resampled_data[(resampled_data.index >= start_datetime) & (resampled_data.index <= end_datetime)]

In [ ]:
cleaned_samp = resampled_data.dropna()
cleaned_samp.shape

In [43]:
new_samp = cleaned_samp.round(3)
new_samp

,temp_c,humidity,pressure,pm1_0_cf,pm2_5_cf,pm10_0_cf
DateTime,,,,,,
2024-05-29 15:28:00,32.213,56.217,98211.843,16.000,22.795,23.205
2024-05-29 15:30:00,32.563,54.418,98211.406,16.238,23.638,24.900
2024-05-29 15:32:00,32.951,52.183,98209.500,15.538,22.675,23.875
2024-05-29 15:34:00,33.375,51.902,98209.662,14.662,21.675,22.662
2024-05-29 15:36:00,33.794,50.599,98209.235,13.788,19.912,20.975
...,...,...,...,...,...,...
2024-06-05 10:08:00,32.048,50.699,98513.202,8.113,13.000,13.375
2024-06-05 10:10:00,32.028,49.273,98512.569,7.362,10.788,11.500
2024-06-05 10:12:00,32.094,51.179,98513.480,8.800,12.562,13.088
2024-06-05 10:14:00,32.067,51.929,98513.591,11.806,17.861,18.806
2165-11-30 20:18:00,26.580,74.000,98464.080,7.000,11.000,11.000

In [27]:
new_resamp = new_resample.round(4)

In [35]:
new_resample.to_csv("data/KegAirData.csv")

In [40]:
cleaned_samp.to_csv('data/cleanedKegAir.csv')

In [13]:
cutoff_datetime = pd.to_datetime('2024-06-05 10:14:00')

# Filter the DataFrame to keep only the rows on or after the cutoff datetime
# data_filtered = resampled_data[resampled_data.index >= cutoff_datetime]

Resampling the purple air data

In [5]:
f_purple = pd.read_csv('data/final_purple_air.csv', parse_dates=[0], 
                        index_col='DateTime', dayfirst=True)

(4071, 9)

In [29]:
new_purple = f_purple.resample('2T').mean()

In [30]:
new_purple.dropna(inplace=True)

In [31]:
new_purple

,temp_f,humidity,pressure,pm1_0_cf_1,pm2_5_cf_1,pm10_0_cf_1,pm1_0_cf_1_b,pm2_5_cf_1_b,pm10_0_cf_1_b
DateTime,,,,,,,,,
2024-05-29 15:30:00,89.0,54.0,982.06,17.00,26.23,28.23,15.66,23.31,24.24
2024-05-29 15:32:00,90.0,53.0,981.99,15.81,24.00,25.08,14.87,21.98,22.38
2024-05-29 15:34:00,91.0,51.0,982.08,14.93,22.78,24.49,14.23,21.02,21.75
2024-05-29 15:36:00,92.0,49.0,982.00,15.16,23.04,24.67,14.16,21.61,22.40
2024-05-29 15:38:00,93.0,47.0,982.03,14.70,21.84,22.64,14.03,21.40,21.62
...,...,...,...,...,...,...,...,...,...
2024-06-05 10:04:00,93.0,45.0,984.97,11.28,15.74,16.33,11.04,16.60,17.27
2024-06-05 10:06:00,93.0,47.0,984.96,9.04,15.20,16.60,8.52,12.93,13.55
2024-06-05 10:08:00,93.0,44.0,984.94,6.95,11.12,12.04,7.46,11.27,11.75
2024-06-05 10:10:00,93.0,46.0,984.96,7.05,11.54,12.39,7.21,10.86,11.59
2024-06-05 10:12:00,93.0,45.0,984.93,9.50,15.30,16.74,9.10,13.56,14.36

In [33]:
notin = []

for idx in new_purple.index:
    if idx not in new_resamp.index:
        notin.append(idx)
        
len(notin)

1

In [34]:
new_purple.to_csv('output/PurpleAirData.csv')